<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Student</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Create New Student</h1>
    <div class="col-sm-6 mx-auto">
        <form th:action="@{/save}" th:object="${student}" method="post">
            <div class="form-group">
                <label for="studentName">Student Name</label>
                <input type="hidden" th:field="*{id}" />
                <input type="text" id="studentName" th:field="*{studentname}" class="form-control" placeholder="Student Name" />
            </div>

            <div class="form-group">
                <label for="course">Course</label>
                <input type="text" id="course" th:field="*{course}" class="form-control" placeholder="Course" />
            </div>

            <div class="form-group">
                <label for="fee">Fee</label>
                <input type="text" id="fee" th:field="*{fee}" class="form-control" placeholder="Fee" />
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-info w-100">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
